{{>header}}
<div class="container">
    <h3>Bienvenidos al menú Principal</h3><br>
    <p style="color:green">{{mensaje}}</p><br>
    <div class="panel panel-primary">
        <div class="panel-heading">Menú</div>
        <div class="panel-body">
            <div class="sidebar-nav">
                <div class="well" style="width:300px; padding: 8px 0;">
                    <ul class="nav nav-list">
                   
                        <li><a href="viewCourse"><i></i> VER CURSOS DISPONIBLES</a></li>
                        <li><a href="inscriptCourse"><i></i> INSCRIPCIÓN DE CURSOS</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{{>footer}}
