<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Gestión de Cursos TDA</title>
    <link href="css/style.css"  rel="stylesheet" type="text/css">
    <link href="css/bootstrap.css"  rel="stylesheet" type="text/css">
    <link href="css/bootstrap.min.css" rel="stylesheet"  type="text/css">
    <link href="css/bootstrap.min.css.map"  rel="stylesheet" type="text/css">
    <link href="css/bootstrap.css.map"  rel="stylesheet" type="text/css">
    <link href="css/bootstrap-theme.css"  rel="stylesheet" type="text/css">
    <link href="css/bootstrap-theme.min.css"  rel="stylesheet" type="text/css">
    
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-theme.js"></script> 
    <script type="text/javascript" src="js/socket.io.js"></script>
  
    <script type="text/javascript" src="js/socket.js"></script>
</head>
<body>
    <div class="container">  
      <div class="row">
        <div class="jumbotron" style="margin-bottom: 0px;">
          <img src="img/banner.jpg" style="width:99%">
        </div>
      </div>