<!DOCTYPE html>
<html lang="en">

 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Gestión de Cursos</title>
    <link href="css/bootstrap.css"  rel="stylesheet" type="text/css">
    <link href="css/bootstrap.min.css" rel="stylesheet"  type="text/css">
    <link href="css/bootstrap.min.css.map"  rel="stylesheet" type="text/css">
    <link href="css/bootstrap.css.map"  rel="stylesheet" type="text/css">
    <link href="css/bootstrap-theme.css"  rel="stylesheet" type="text/css">
    <link href="css/bootstrap-theme.min.css"  rel="stylesheet" type="text/css">
    <script src="js/bootstrap-theme.js"></script>
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/jquery-1.10.2.min.js"></script>
</head>

<body>