{{>header}}
<div class="row">
      <br>
      <p style="color:red">Error 404: la página no existe</p>
      <div class="col-sm-4">
            <img src="img/logo-ppal.jpg">
      </div>
</div>
{{>footer}}