{{>header}}
<div class="container">
    <h3>Gestion de usuarios</h3><br>
    {{{mensaje}}}
    <br>
    <form id="loginformA" action="gestionUsuarios" method="post">
        <div>
            <div class="row">
                <div class="col-md-6">
                    <label for="cedula">Cédula </label>
                    <input type="number" class="form-control" id="cedula" name="cedula" required placeholder="Cedula del Usuario..">
                </div>
                <div class="col-md-6">
                    <label for="tipo">Tipo Usuario</label>
                    <select id="tipo" name="tipo" class="form-control" required>
                        <option value="1">1 - Aspirante</option>
                        <option value="2">2 - Docente</option>
                        <option value="3">3 - Coordinador</option>
                    </select>
                </div>
            </div><br>
            <button class="btn btn-primary">Guardar</button>
        </div><br>
    </form>
    <h3>Usuarios:</h3><br>
    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Cursos</h3>
            </div>
            <table class="table table-hover" id="dev-table">
                <thead>
                    <tr>
                        <th>Cedula</th>
                        <th>Nombre</th>
                        <th>email</th>
                        <th>Telefono</th>
                        <th>Tipo</th>               
                    </tr>
                </thead>
                {{{tabla_usuarios usuarios}}}
            </table>
        </div>
    </div>
</div>
<div class="row">
    <form action="/indexcoordinador" method="GET">
        <button class="btn btn-primary" style="margin-left:10%"> <= Menú</button>
    </form>
</div><br>
{{>footer}}