{{>header}}
<div class="row">
    <script type="text/javascript" src="js/reload.js"></script>
  
    <h3>Bienvenidos al menú Principal</h3>
    <p style="color:green">{{mensaje}}</p><br>
    <div class="col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">Menú Coordinador</div>
            <div class="panel-body">
                <div class="sidebar-nav">
                    <div class="well" style="width:300px; padding: 8px 0;">
                        <ul class="nav nav-list">
                            <li><a href="addCourse"><i class="icon-home"></i> AGREGAR CURSO</a></li>
                            <li><a href="updateCourse"><i class="icon-home"></i> ACTUALIZAR CURSO</a></li>
                            <li><a href="gestionUsuarios"><i></i> GESTION USUARIOS</a></li>
                            <li><a href="viewEstudenByCourse"><i></i> ESTUDIANTES POR CURSO</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <img src="img/logo-ppal.jpg">
    </div>
</div>


{{>footer}}