{{>header}}
<script type="text/javascript" src="js/reload.js"></script>
<div class="container">
    <h3>Bienvenidos al menú Principal</h3>
    <p style="color:green">{{mensaje}}</p><br>
    <div class="col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">Menú Aspirante</div>
            <div class="panel-body">
                <div class="sidebar-nav">
                    <div class="well" style="padding: 8px 0;">
                        <ul class="nav nav-list">
                            <li><a href="viewCourse"><i></i> VER CURSOS DISPONIBLES</a></li>
                            <li><a href="inscriptCourse"><i></i> INSCRIPCIÓN DE CURSOS</a></li>
                            <li><a href="viewCoursesOffEstuden"><i></i> MIS CURSOS</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <img src="img/logo-ppal.jpg">
    </div>
</div>
<div id="usuarioDiv" style="display: none">{{indexcoordinador}}</div>
{{>footer}}