{{>header}}
<script type="text/javascript" src="js/reload.js"></script>
<div class="row">
    <h3>Bienvenidos al menú Principal</h3>
    <p style="color:green">{{mensaje}}</p><br>
    <div class="col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">Menú Docente</div>
            <div class="panel-body">
                <div class="sidebar-nav">
                    <div class="well" style="width:300px; padding: 8px 0;">
                        <ul class="nav nav-list">                  
                            <li><a href="viewEstudenByCourseDoc"><i></i> MIS CURSOS</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <img src="img/logo-ppal.jpg">
    </div>
</div>
<div id="usuarioDiv" >{{indexcoordinador}}</div>
{{>footer}}