{{>header}}
<div class="row">
    <div class="col-sm-4">
        <p style="color:green">{{mensaje}}</p>
        <div class="panel panel-success">
            <div class="panel-heading">Login</div>
            <div class="panel-body">
                <div class="sidebar-nav">
                    <div class="well" style="padding: 8px 0; height:200px;">
                        <form id="formLogin" action="login" method="post">
                            <div class="col-sm-12">
                                <label for="">Usuario (Correo de registro)</label>
                                <input type="text" name="usuario" id="usuario" placeholder="Correo.." class="form-control" required>
                            </div>
                            <br>
                            <div class="col-sm-12">
                                <label for="">Contraseña (Número de cédula)</label>
                                <input type="password" name="password" id="password" placeholder="Identificación.." class="form-control" required>
                            </div>
                            <br>
                            <div class="col-sm-12">
                                <button class="btn btn-success" style=" margin-top: 10px;">Iniciar</button>
                            </div>
                        </form>
                    </div>
                    <div class="well" style="padding: 8px 0;">
                        <ul class="nav nav-list">
                            <li><a href="register"><i></i>Registrarse </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <img src="img/logo.png">
        <img src="img/logo-ppal.jpg">
    </div>
</div>
<div id="usuarioDiv" style="display: none">{{indexcoordinador}}</div>
{{>footer}}