{{>header}}
<div class="container">
    <h3>Registro usuarios</h3>
    <p style="color:red">{{error_inscripcion}}</p><br>
    <form id="formInscripcion" action="register" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-3">
                <label for="">Identificación<span class="ft-appengine-field-required">*</span></label>
                <input type="number" name="cedula" id="cedula" placeholder="Indetificación.." class="form-control"
                    required>
            </div>
            <div class="col-sm-3">
                <label for="">Nombre<span class="ft-appengine-field-required">*</span></label>
                <input type="text" name="nombre" id="nombre" placeholder="Nombre completo.." class="form-control"
                    required>
            </div>
            <div class="col-sm-3">
                <label for="">Correo<span class="ft-appengine-field-required">*</span></label>
                <input type="email" name="email" id="email" placeholder="Correo electronico.." class="form-control"
                    required>
            </div>
        </div><br>
        <div class="row">
            <div class="col-sm-3">
                <label for="">Teléfono<span class="ft-appengine-field-required">*</span></label>
                <input type="tel" name="telefono" id="telefono" placeholder="Número de telefono.." class="form-control"
                    required>
            </div>
            <div class="col-sm-3">
                <label for="">Foto<span class="ft-appengine-field-required">*</span></label>
                <input type="file" name="foto" id="foto"  accept="image/png" required>
            </div>
        </div><br>
        <button class="btn btn-success">Registrar</button>
    </form><br>
</div>
{{>footer}}