{{>header}}
<div class="row">
	<h3>Mis Cursos Inscritos</h3>
	<p style="color:red">{{mensaje}}</p><br>
	<div class="row">
		{{{cursos_del_estudiante cursos inscripciones usuario}}}
	</div><br>
		<form action="/indexaspirante" method="GET">
		<button class="btn btn-success" style="margin-left:1%"> <= Menú</button>
	</form>
</div><br>
{{>footer}}
<script>
	$(document).on('click', '.panel-heading span.clickable', function (e) {
		var $this = $(this);
		if (!$this.hasClass('panel-collapsed')) {
			$this.parents('.panel').find('.panel-body').slideUp();
			$this.addClass('panel-collapsed');
		} else {
			$this.parents('.panel').find('.panel-body').slideDown();
			$this.removeClass('panel-collapsed');
		}
	})
</script>
<div id="usuarioDiv" style="display: none">{{indexcoordinador}}</div>